* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(237, 62%, 54%);
}

header {
    height: 75px;
    text-align: center;
    padding: 10px;
    background-color: hsl(5, 81%, 79%);
    border: 2px solid black;
    filter: drop-shadow(2px 3px 2px black);
}

h3 {
    text-align: center;
}

/*Oefen opdracht nummer 1*/

article {
    background-color: hsl(161, 100%, 70%);
    border: 1px solid hsl(0, 0%, 0%);
    margin: 20px;
    padding: 20px;
}

#container-element {
    background-color: hsl(237, 62%, 54%);
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item-element-one {
    flex-basis: 200px;
    height: 150px;
    padding: 8px;
    order: 1;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-element-two {
    flex-basis: 200px;
    height: 280px;
    padding: 8px;
    background-color: hsl(30, 92%, 58%);
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-element-three {
    flex-basis: 200px;
    height: 120px;
    padding: 8px;
    order: 3;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-element-Four {
    flex-basis: 200px;
    height: 300px;
    padding: 8px;
    background-color: hsl(108, 100%, 53%);
    order: 4;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/*oefen opdracht nummer 2*/

div {
    border: 1px solid black;
    margin: 10px;
}

#container-element-two {
    background-color: red;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.item-one {
    padding: 8px;
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.item-Two {
    padding: 8px;
    background-color: honeydew;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.item-Three {
    padding: 8px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

/*Eigen opdracht nummer 3*/
button {
    width: 100px;
}

#container-element-three {
    background-color: red;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item-div {
    /*background-color: greenyellow;*/
    display: flex;
    flex-basis: 400px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 0;

}

.vierkant-div {
    background-color: honeydew;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-div2 {
    display: flex;
    flex-basis: 400px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 0;
}

/*Eigen opdracht nummer 4*/
img {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#containe-element-four{
    background-color: yellow;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-div-four{
    background-color: honeydew;
    height: 150px;
    width: 200px;
    position: relative;
}

/*oefening nummer 5*/