* {
    padding: 0;
    margin: 0;
}

h3 {
    text-align: center;
}

article {
    background-color: hsl(161, 100%, 70%);
    border: 1px solid hsl(0, 0%, 0%);
    margin: 20px;
    padding: 20px;
}

#container-element {
    background-color: hsl(237, 62%, 54%);
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item-element-one {
    flex-basis: 200px;
    height: 150px;
    padding: 8px;
    order: 1;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-element-two {
    flex-basis: 200px;
    height: 280px;
    padding: 8px;
    background-color: hsl(30, 92%, 58%);
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-element-three {
    flex-basis: 200px;
    height: 120px;
    padding: 8px;
    order: 3;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.item-element-Four{
    flex-basis: 200px;
    height: 300px;
    padding: 8px;
    background-color: hsl(108, 100%, 53%);
    order: 4;
    flex-grow: 1;
    flex-shrink: 0;
}